/* Fonte AvertaStd */
@font-face {
  font-family: "AvertaStd";
  src: local(AvertaStd), url(/assets/fonts/AvertaStd-Bold.ttf);
}
@font-face {
  font-family: "AvertaStd";
  src: local(AvertaStd), url(/assets/fonts/AvertaStd-Regular.ttf);
}
* {
  font-family: "AvertaStd";
}

html {
  background-color: #FFFFFF;
}

header {
  background-color: #FFFFFF;
}

#barra-desktop {
  display: none;
}

/* VITRINE */
.vitrine {
  position: relative;
}

.logo {
  width: 100%;
}

/* FUNDO */
.fundo {
  position: absolute;
  top: -130px;
  height: 198px;
  width: 180px;
  left: -30px;
  z-index: 1;
  border-radius: 28px;
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(36, 38, 37, 0.16);
  transform: matrix(0.99, -0.09, 0.05, 1, -1, -1);
}

/* LOGO MRV */
.logo-mrv {
  position: absolute;
  width: 115px;
  height: 32px;
  left: 16px;
  top: 16px;
  z-index: 2;
}

/* FOTO */
.foto {
  position: relative;
  width: 100%;
  height: 78, 24%;
  border-bottom-left-radius: 25px;
}

/* TEXTO */
.texto-vitrine {
  background: linear-gradient(225deg, #079D56 0%, #006B3F 100%);
  border-radius: 16px 0px 0px 16px;
  position: absolute;
  right: 0;
  top: 86%;
  padding: 6% 20% 6% 6%;
  color: #FFFFFF;
  width: 95%;
  font-weight: 600;
  font-size: 18px;
  z-index: 2;
}

/* END VITRINE */
/* MIGALHAS */
.migalhas {
  margin-top: 90px;
  padding: 23px;
  font-size: 14px;
  font-weight: 600;
}

/* MIGALHAS TEXTO */
.migalhas a {
  text-decoration: none;
  color: #006B3F;
}

.migalhas a:hover {
  text-decoration: underline;
  color: #013f25;
}

.migalhas img {
  width: 4%;
}

/* END MIGALHAS */
/* CORPO TEXTO */
.texto {
  padding: 23px;
}

.texto h1 {
  font-weight: bold;
  font-size: 18px;
}

.texto h2 {
  font-weight: bold;
  font-size: 18px;
}

.texto p {
  font-size: 14px;
}

/* END CORPO TEXTO */
/* LOGO MRV-CO */
.img-mrv {
  width: 200px;
  margin-left: 5px;
}

.mrv-co {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.listagem-mrv {
  margin-left: -44px;
  margin-top: 30px;
}

.listagem-mrv li {
  float: left;
  background-color: #fff;
  margin-left: 10px;
}

.mrv {
  width: 60px;
}

.instituto {
  width: 60px;
}

.btn.btn-ghost {
  background-color: transparent;
  border: 2px solid;
  color: #006B3F;
  padding: 4px;
  width: 100px;
}

/* MODAL */
.modal-body p {
  padding-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-body h2 {
  padding-left: 12px;
  margin-top: 180px;
  display: flex;
  align-items: center;
}

.btn-icon-circle {
  margin-left: 85%;
  margin-top: 240px;
  border-radius: 6rem;
  padding: 0;
  height: 2.5rem;
  width: 2.5rem;
  justify-content: center;
  background-color: #006b3f;
  border: #006B3F;
  z-index: 10 !important;
  padding: 10px;
}

.elemento {
  font: inherit;
  font-size: 1rem;
  color: #fff !important;
}

.footer-modal {
  width: 100%;
}

/* BUTTON CONFERIR AGORA */
.btn-box {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-conferir {
  padding: 2.8%;
  color: #FFFFFF;
  background-color: #006B3F;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 250px;
  font-weight: 600;
}

.btn-conferir a:hover {
  text-decoration: underline;
  color: white;
}

/*END BUTTON CONFERIR AGORA */
/* NOSSO VALORES */
.nossos-valores {
  margin-top: 40px;
}

/* ACCORDION */
.accordion-button {
  font-weight: 700;
  color: #006B3F !important;
}

.accordion-button::after {
  background-color: transparent !important;
}

.accordion-item {
  border: none !important;
  border-bottom: solid #006B3F !important;
}

#accordion-desktop {
  display: none;
}

/* END ACCORDION */
/* SOBRE */
.sobre {
  margin-top: 30px;
  padding-top: 5%;
}

.sobre a {
  text-decoration: none;
  color: black;
}

/* CAROUSEL */
.carousel-control-prev,
.carousel-control-next {
  background-color: #006B3F !important;
  height: 25%;
  margin-top: 22%;
  border-radius: 15%;
  opacity: none;
}

.carousel-inner {
  border-radius: 20px;
}

/* VAGAS */
.vagas {
  margin-top: 30px;
  margin-bottom: 100px;
}

/* FORMULARIO */
.input-form {
  margin-top: 14px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-form select {
  padding: 0.4em;
  border-radius: 8px;
  border: 2px solid black;
}

/* END FORMULARIO */
/* BUTTON BUSCAR */
.btn-busca {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.btn-buscar {
  padding: 2.8%;
  color: #FFFFFF;
  background-color: #006B3F;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 45%;
  font-weight: 600;
}

/* END BUTTON BUSCAR */
#img-desktop {
  display: none;
}

/* FOOTER */
.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 5;
}

.footer-img {
  width: 100%;
}

/* END FOOTER */
#footer-desktop {
  display: none;
}/*# sourceMappingURL=style.css.map */